


    .form-container {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      /* background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
                  url('https://images.unsplash.com/photo-1607082349566-187342175e2f?auto=format&fit=crop&w=1600&q=80') 
                  center/cover no-repeat; */
      padding: 40px 20px;
    }

    .form-card {
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      max-width: 450px;
      width: 100%;
      padding: 40px 30px;
      border-top: 5px solid #c69c6d;
    }

    .form-card h3 {
      text-align: center;
      color: #000;
      margin-bottom: 30px;
      font-weight: 600;
    }

    .form-control {
      border-radius: 10px;
      padding: 10px 15px;
    }

    
    .btn-custom {
      background-color: #c69c6d;
      color: #fff;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
      font-weight: 500;
      transition: 0.3s;
    }

    .btn-custom:hover {
      background-color: #b5895d;
    }

    .text-muted a {
      color: #c69c6d;
      text-decoration: none;
    }

    .text-muted a:hover {
      text-decoration: underline;
    }