.product-card {
  border: 1px solid #e5e5e5;
  padding: 25px;
  transition: 0.3s;
  background: #fff;
}

.product-card:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  transform: translateY(-5px);
}

.product-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  margin-top: 15px;
}

.product-price {
  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--bs-primary);
}

.btn-dark {
  border-width: 2px !important;
}
.modal-content {
  border-radius: 12px;
  padding: 5px 10px;
}

.modal-product-img {
  max-height: 380px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 6px;
}

@media (max-width: 576px) {
  .modal-product-img {
    max-height: 260px;
  }
}
